# Modifying and Analysing Data with SQL

## Working with Text Strings

* Working with string variables
    * Retrieve the data in the format you need
        * Client vs. Server formatting
    
    * Suppport joins

    * String functions:
        * Concatenate
        * Substring
        * Trim
        * Upper
        * Lower

* Concatenations
    * Note: SQL server supports + instead of ||

```sql
SELECT
CompanyName
,ContactName
,CompanyName  || '(' || ContactName || ')'
FROM customers
```

* Trimming Strings
    * Trims the leading or trailling space from a string
        * TRIM
        * RTRIM
        * LTRIM
```sql
SELECT TRIM ("  You the best.   ") AS TrimmedString;
```

* Substring
    * Returns the specific number of characters from a particular position of a given string

```sql
-- General syntax
SUBSRT(string name,
string position,
number of chars to be returned)

-- Example 1
SELECT first_name, SUBSTR (first_name, 2,3)
FROM employees
WHERE department_id=60;

-- Example 2
SELECT first_name,
SUBSTR(first_name,3,4)
FROM employees
WHERE department_id=100
``` 

* Upper and Lower
```sql 
SELECT UPPER(column_name) FROM table_name;

SELECT LOWER(column_name) FROM table_name;

-- Same as UPPER:
SELECT UCASE(column_name) FROM table_name;
```

## Working with date and time strings

* Working with Date Variables
    * "As long as your data contains only the date portion, your queries will work as expected. However, if a time portion is involved, it gets more complicated."
    * "The most difficult part when working with dates is to be sure that the format of the date you are trying to insert, matches the format of the date column in the database"
    * Dates are stored as **datetypes**
    * Each DBMS uses it's own variety of datatypes

```sql
Wednesday, September 17th, 2008
9/17/2008 5:14:56 P.M. EST
9/17/2008 19:14:56 GMT
2612008 (Julian format)
```

* SQLite Date Time Functions
    * SQLite supports 5 date and time functions:
```sql
DATE(timestring, modifier, modifier, ...)
TIME(timestring, modifier, modifier, ...)
DATETIME(timestring, modifier, modifier, ...)
JULIANDAY(timestring, modifier, modifier, ...)
STRFTIME(format, timestring, modifier, modifier, ...)
```

## Date and Time Strings Examples

* Example 1: Birthdate
```sql
SELECT Birthdate
,STRFTIME('%Y', Birthdate) AS Year
,STRFTIME('%m', Birthdate) AS Month
,STRFTIME('%d', Birthdate) AS Day
FROM employees
```

* Example 2: Computing Current Date
```sql
SELECT DATE('now')
```

* Example 3: Compute y, m and d for the current date
```sql
SELECT STRFTIME('%Y %m %d','now')
```

* Example 4: Compute age using birthdate
```sql
SELECT Birthdate
,STRFTIME('%Y', Birthdate) AS Year
,STRFTIME('%m', Birthdate) AS Month
,STRFTIME('%d', Birthdate) AS Day
,DATE(('now') - Birthdate) AS Age
FROM employees
```

## Case Statements

* What is a CASE Statement
    * Mimics if-then-else statement found in most programming languages
    * Can be used in SELECT, INSERT, UPDATE and DELETE statements

```sql
-- Basic structure
CASE
WHEN C1 THEN E1
WHEN C2 THEN E2
...
ELSE [result else]
END

-- Expressions
CASE input_expression
    WHEN when_expression THEN result_expression [...n]
    [ELSE else_result_expression]
END

-- Simple example: creating a column to check if city is Calgary
SELECT
employeeid
,firstname
,lastname
,city
,CASE City 
    WHEN 'Calgary' THEN 'Calgary'
ELSE 'Other'
    END calgary
FROM Employees
ORDER BY LastName, FirstName;
```
* Using CASE statements as a search
```sql
-- Basic structure
CASE WHEN Boolean_expression
THEN result_expression [...n]
[ELSE else_result_expression]
END

-- Example
SELECT
trackid
,name
,bytes
,CASE
WHEN bytes < 300000 THEN 'small'
WHEN bytes >= 300001 AND bytes <= 500000 THEN 'medium'
WHEN bytes >= 500001 THEN 'large'
ELSE 'Other'
END bytescategory
FROM
tracks;
```

## Views

* Overview of Views
    * A stored query
    * Can add or remove columns without changing schema
    * Use it to encapsulate queries
    * The view will be removed after database connection has ended

```sql
CREATE [TEMP] VIEW [IF NOT EXISTIS]
view_name(column-name-list)
AS
select-statement;
```

* Example: creating a view
```sql
CREATE VIEW my_view
AS
SELECT
r.regiondescription,
t.territorydescription,
e.LastName,
e.FirstName,
e.Hiredate,
e.Reportsto
FROM Region r
INNER JOIN Territories t on r.regionid = t.regionid 
INNER JOIN Employeeterritories et on t.TerritoryID = et.TerritoryID
INNER JOIN Employees e on et.employeeid = e.EmployeeID

-- To view the table, we need a SELECT statement 
SELECT *
FROM my_view
DROP VIEW my_view;
```

## Data governance and profiling

* What is data profiling?
    * Looking at descriptive statistics or object data information - examining data for completeness and accuracy
    * It is important to understand your data before you query it

* Object Data Profile
    * Number of rows
    * Table size
    * When the object was last updated

* Column Data Profile
    * Column data type
    * Number of distinct values
    * Number of rows with NULL values
    * Descriptive statistics: maximum, average and standard deviation for column values

* Governance best practices
    * Understand your read and write capabilities
    * Clean up your environments
    * Undestand your promotion process

## Using SQL for Data Science

* Working through a problem from beginning to end

    * Data understanding
        * Most important step
        * Undestanding relationships in your data
        * NULL values
        * String values
        * Dates and times
        
    * Business understanding
        * Until you gain business understanding, writing queries may take some more time
        * Understanding where data joins are
        * Differentiating integers from strings
        * Investing time to understand your subject will help later during data analysis
        * Ask question about business problem you are solving
        * Hard to separate data and business understanding
        * Beware of the unspoken need
            * "We want to predict whether or not a customer is likely to buy our product"
            * Which customers?
            * What product?
            * What is/should be excluded?
            * What is/should be counted from past?
        
    * Profiling data
        * Get into the **details** of your data
        * Create a **data model** and map the fields and tables you need
        * Consider **joins** and **calculations**
        * Understand any **data quality** or **format issues**

    * Start with SELECT
        * Start **simple**
        * Any query begins with **SELECT** statement
        * Add in **special formatting**
        * If using subqueries, start with the innermost query and **work outward**

    * Test
        * Do not wait until the end to test queries
        * Test after each join or filter
        * Are you getting the results you expect
        * Start small and go step-by-step when troubleshooting a query
        
    * Format & Comment
        * Use correct formatting and indentation
        * Comment strategically
        * Clean code and comments help you when you revisit or hand off code
        
    * Review
        * Always review old queries
        * Business rules
        * Date changes
        * Date indicators
        * Work the problem from beggining to end

## Suggested reading

* [SQL Puzzles](https://blog.sqlauthority.com/category/sql-puzzle/)
* [SQLZOO](https://sqlzoo.net/): practice for a data science interview